<div id="main">
  <nav>
    <a href="#">About</a>
    <a href="#">News</a>
    <a href="#">Cart</a>
    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
  </nav>

  <div id="central-part">
    <h1>Lightly padded,</h1><br>
    <h1>quilted jacket in</h1><br>
    <h1>recycled polyster.</h1>
  </div>

  <div id="below-central">
    <div id="paragraphs">
      <p>Exclusive brands aspire for the label haute</p><br>
      <p>couture, but the term is technically imted to</p><br>
      <p>members of the Chambre Syndicale de la Haute</p>
    </div>

    <div class="right">
      <div class="elems">
        <a href="#">Add to cart</a>
        <i class='fas fa-arrow-up-right-from-square'></i>
      </div>
      <div class="elems">
        <a href="#">Product details</a>
        <i class='fas fa-arrow-up-right-from-square'></i>
      </div>
      <div class="elems">
        <a href="#">Shipping</a>
        <i class='fas fa-arrow-up-right-from-square'></i>
      </div>

    </div>
  </div>

  <div id="bottom"></div>

</div>